<footer class="footer">
  <small>
   Sample App
    de <a href="http://www.github.com/picojazz">PICOJAZZ</a>
  </small>
  <nav >
    <ul>
      <li><%= link_to "A propos",  about_path %></li>
      <li><%= link_to "Contactez-moi", contact_path %></li>
      
    </ul>
  </nav>
</footer>