<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
				<li><%= link_to "Picojazz Sample App" , root_path ,id:"logo" %></li>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Accueil" , root_path %></li>
					<li><%= link_to "Aide" , help_path %></li>
					<li><%= link_to "Se connecter" , "#" %></li>
					
				</ul>
			</nav>
		</div>
	</header>